[submodule "pack/plugs/start/dart-vim-plugin"]
	path = pack/plugs/start/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "pack/plugs/start/vim-endwise"]
	path = pack/plugs/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "pack/plugs/start/vim-javascript"]
	path = pack/plugs/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/plugs/start/jedi-vim"]
	path = pack/plugs/start/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "pack/plugs/start/vim-autoformat"]
	path = pack/plugs/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
